# Binaries
/bin/

# Database/Storage
.blocks/ 

# IDE
/.idea/
.vscode/

# Node.js (remove if unused)
node_modules/
package-lock.json

# Logs/Env
*.log
*.env

# OS files
.DS_Store

# Go vendor
/vendor/